<app-page-header [header]="['MEMBERS', isEditMode ? 'MEMBERS_EDIT' : 'MEMBERS_ADD']"></app-page-header>
<section class="section-card p-3">
  <form #memberForm="ngForm" (ngSubmit)="addOrUpdate()">
    <div class="p-1 position-relative">
      <div class="row">
        @if(loading() ){
        <div class="loading-shade">
          <mat-spinner></mat-spinner>
        </div>
        }
        <div
          class="col-12 mb-3 d-flex flex-wrap justify-content-between align-items-center"
        >
          <h2 class="mat-title-large m-0">
            {{ "MEMBER_DETAILS" | transloco }}
          </h2>
        </div>
        <div class="col-12 col-md-6">
          <label class="pb-2 d-block mat-title-small" for="name">{{
            "MEMBER_NAME" | transloco
          }}</label>
          <mat-form-field class="mb-2 col-12">
            <input
              matInput
              placeholder="{{ 'LMEMBER_NAME_PLACEHOLDER' | transloco }}"
              required
              name="name"
              [(ngModel)]="member.name"
              #name="ngModel"
            />
            <mat-error>
              <app-form-validation
                [element]="name.control"
              ></app-form-validation>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-12 col-md-6">
          <label class="pb-2 d-block mat-title-small" for="phoneNumber">{{
            "PHONE_NUMBER" | transloco
          }}</label>
          <mat-form-field class="mb-2 col-12">
            <input
              matInput
              placeholder="{{ 'PHONE_NUMBER_PLACEHOLDER' | transloco }}"
              name="phoneNumber"
              [(ngModel)]="member.phoneNumber"
              #phoneNumber="ngModel"
            />
            <span matTextPrefix> 20+ </span>
          </mat-form-field>
        </div>
        <div class="col-12 col-md-6">
          <label class="pb-2 d-block mat-title-small" for="status">{{
            "STATUS" | transloco
          }}</label>
          <mat-form-field class="mb-2 col-12">
            <mat-select
              name="status"
              [(ngModel)]="member.status"
              required
              #status="ngModel"
            >
              @for (s of statuses; track s) {
              <mat-option [value]="s">{{
                "STATUS_" + s | transloco
              }}</mat-option>
              }
            </mat-select>
            <mat-error>
              <app-form-validation
                [element]="status.control"
              ></app-form-validation>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <button
        mat-flat-button
        [disabled]="memberForm.invalid || loading()"
        type="submit"
      >
        {{
          isEditMode
            ? ("UPDATE_MEMBER_BTN" | transloco)
            : ("ADD_MEMBER_BTN" | transloco)
        }}
        <mat-icon> save </mat-icon>
      </button>
    </div>
  </form>
</section>
