<form
  class="d-flex flex-wrap"
  [formGroup]="filterForm"
  (ngSubmit)="applyFilter()"
>
  <div class="col-12 d-flex flex-wrap">
    <mat-form-field class="col" appearance="outline" style="max-width: 486px">
      <mat-label>{{ "SEARCH_NAME" | transloco }}</mat-label>
      <input matInput id="name" formControlName="name" />
      <mat-icon matPrefix> search </mat-icon>
    </mat-form-field>
    <div class="col px-0 d-flex">
      <button
        class="me-auto ms-2"
        [routerLink]="[
          '/',
          urlsNames.ADMIN,
          urlsNames.MEMBERS,
          urlsNames.MEMBERS_ADD
        ]"
        type="button"
        mat-flat-button
      >
        {{ "ADD_MEMBER" | transloco }}<mat-icon> add </mat-icon>
      </button>
      <button mat-button type="button" class="ms-2">
        <span> {{ "MEMBER_IMPORT" | transloco }}</span>
        <mat-icon class="on-surface-variant-color"> arrow_upward </mat-icon>
      </button>
      <button mat-button type="button">
        <span>{{ "MEMBER_EXPORT" | transloco }}</span>
        <mat-icon class="on-surface-variant-color"> arrow_downward </mat-icon>
      </button>
    </div>
  </div>
  <div class="d-flex">
    <mat-form-field
      class="filter-select flex-shrink-0"
      [ngClass]="{ active: filterForm.get('status')?.value }"
    >
      <mat-select
        placeholder="{{ 'SEARCH_STATUS' | transloco }}"
        formControlName="status"
      >
        <mat-select-trigger>
          @if(filterForm.get("status")?.value){
          {{ "SEARCH_STATUS" | transloco }}:
          <span class="primary-color">{{
            "STATUS_" + filterForm.get("status")?.value | transloco
          }}</span
          >}@else { {{ "SEARCH_STATUS" | transloco }}}
        </mat-select-trigger>
        <mat-option [value]="null">{{ "STATUS_ALL" | transloco }}</mat-option>
        @for (status of statuses; track status) {
        <mat-option [value]="status"
          >{{ "STATUS_" + status | transloco }}</mat-option
        >
        }
      </mat-select>
    </mat-form-field>
    @if (hasActiveFilters()) {
    <button
      mat-button
      type="button"
      class="ms-2 flex-shrink-0"
      (click)="clearFilters()"
    >
      {{ "CLEAR_FILTERS" | transloco }}
      <mat-icon class="on-surface-variant-color"> close </mat-icon>
    </button>
    }
  </div>
</form>
