/* General dialog content styling */
mat-dialog-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

table {
  width: 100%;
  border-collapse: collapse;
  thead tr {
    background-color: var(--sys-surface);
    border-top: 1px solid #dbdbdb;
  }
  th {
    &::after {
      padding: 16px 0px;
      content: "";
      border-left: 1px solid #dbdbdb;
      position: absolute;
      left: 0;
      top: 6px;
    }
    &:last-child::after {
      display: none;
    }
    padding: 0px 8px;
    background: var(--sys-surface);
    height: 42px !important;
    text-align: right;
    position: relative;

    -webkit-font-smoothing: antialiased;
    color: var(--mat-table-header-headline-color);
    font-family: var(--mat-table-header-headline-font);
    line-height: var(--mat-table-header-headline-line-height);
    font-size: var(--mat-table-header-headline-size);
    font-weight: var(--mat-table-header-headline-weight);
  }
  td {
    &::after {
      padding: 16px 0px;
      content: "";

      border-left: 1px solid #dbdbdb;
      position: absolute;
      left: 0;
      top: 6px;
    }
    &:last-child::after {
      display: none;
    }
    padding: 0px 8px;
    height: 42px !important;
    position: relative;

    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: var(--mat-table-row-item-label-text-font);
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    color: var(--mat-table-row-item-label-text-color);
  }
  .table-btn {
    padding: 8px !important;
    min-width: 32px;
    max-height: 32px;
    .mat-icon {
      margin: 0px !important;
      color: #8a8aa3;
    }
  }
}
