// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;

$light-theme: mat.define-theme(
  (
    color: (
      theme-type: light,
      use-system-variables: true,
      system-variables-prefix: sys,
    ),
    typography: (
      use-system-variables: true,
      system-variables-prefix: sys,
    ),
    density: (
      scale: 0,
    ),
  )
);

:root {
  @include mat.all-component-themes($light-theme);
  @include mat.form-field-overrides(
    (
      outlined-container-shape: 8px,
    )
  );
  @include mat.button-overrides(
    (
      filled-container-height: 48px,
      outlined-container-height: 48px,
      protected-container-height: 48px,
      text-container-height: 48px,

      filled-container-shape: 8px,
      outlined-container-shape: 8px,
      protected-container-shape: 8px,
      text-container-shape: 8px,

      text-label-text-color: var(--sys-on-surface),
    )
  );
  @include mat.sidenav-overrides(
    (
      container-shape: 24px,
      container-background-color: var(--sys-background),
      container-elevation-shadow: 0px 2px 4px 0px #1212170a,
      container-divider-color: var(--sys-outline),
    )
  );
  @include mat.expansion-overrides(
    (
      container-shape: 0px,
      container-background-color: var(--sys-background),
      header-expanded-state-height: 58px,
      header-collapsed-state-height: 58px,
    )
  );
}

html,
body {
  height: 100%;
  --mat-option-selected-state-layer-color: var(--sys-primary-container);
  --mat-select-panel-background-color: var(--sys-surface-bright);
}
body {
  margin: 0;
  font-family: "IBM Plex Sans Arabic", sans-serif;
}
* {
  font-family: "IBM Plex Sans Arabic", sans-serif;
  box-sizing: border-box;
}
.loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1500;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px !important;
}

.mat-drawer-side {
  margin: 24px 24px 24px 0px;
  border-radius: 24px !important;
  box-shadow: 0px 0px 0px 1px rgba(18, 18, 23, 0.1),
    0px 24px 48px rgba(18, 18, 23, 0.03), 0px 10px 18px rgba(18, 18, 23, 0.03),
    0px 5px 8px rgba(18, 18, 23, 0.04), 0px 2px 4px rgba(18, 18, 23, 0.0399338) !important;
}
